.filterButtonsBox {
    display: flex;
    justify-content: center;
}

.filterButtonAll {
    cursor: pointer;
    font-size: 18px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 15px 0px 0px 0px;
    width: 220px;
    height: 50px;
    transition-duration: 0.4s;
    margin-bottom: 10px;
}

.filterButtonAll:hover {
    color: #996fc9;
}

.filterButtonCompleted {
    cursor: pointer;
    font-size: 18px;
    background-color: #f0f0f0;
    border: none;
    width: 220px;
    height: 50px;
    transition-duration: 0.4s;
    margin-bottom: 10px;
}

.filterButtonCompleted:hover {
    color: #996fc9;
}

.filterButtonUncompleted {
    cursor: pointer;
    font-size: 18px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 0px 15px 0px 0px;
    width: 220px;
    height: 50px;
    transition-duration: 0.4s;
    margin-bottom: 10px;
}

.filterButtonUncompleted:hover {
    color: #996fc9;
}

.currentFilterButton {
    background-color: white;
    color: #996fc9;
}