.container {
    max-height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

.container::-webkit-scrollbar {
    display: none;
}

.taskBoxLine {
    text-decoration: line-through;
    color: #c6c6c6;
}

.taskBox {
    flex-shrink: 0;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    min-height: 40px;
    margin-bottom: 20px;
    transition-duration: 0.4s;
}

.taskBox:hover {
    color: rgb(49, 49, 49);
}

.taskCheckbox {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-top: 3px;
    margin-right: 15px;
    margin-left: 15px;
    appearance: none;
    border: 1px solid #696969;
    border-radius: 100%;
}

.taskCheckbox:checked::before {
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    background-color: #996fc9;
    border-radius: 100%;
    margin: 5px;
}

.taskButton {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("minus_grey.png");
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: #696969;
    border: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: 15px;
    transition-duration: 0.4s;
}

.taskButton:hover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("minus_white.png");
    background-color: #996fc9;
    color: white;
}

.jobsDone {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c6c6c6;
    width: 100px;
    height: 60px;
}

.taskText {
    width: calc(100% - 120px);
    overflow-wrap: break-word;
}