@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

button,
body {
  font-family: 'Montserrat', sans-serif;
  color: #696969;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  background-repeat: no-repeat;
  background: linear-gradient(135deg, rgba(255, 194, 194, 1) 0%, rgba(153, 111, 201, 1) 100%);
}

::selection {
  color: rgb(255, 255, 255);
  background: #996fc9;
}